html,
body,
#map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#mainWindow {
    position: relative ;
}

body {
    background-color: #777;
    overflow: hidden;
    font-family: "Trebuchet MS";
}

#header {
    background-color: lightgreen;
    color: white;
    font-size: 15pt;
    text-align: center;
    font-weight: bold;
}

#footer {
    background-color: #444;
    color: orange;
    font-size: 10pt;
    text-align: center;
}

.drop {
    background-color: white;
    overflow: visible;
}

.right-panel {
    background-color: white;
    position: absolute;
    width: 100%;
    bottom: 0px;
    margin:0;
    height: 200px;
    z-index:100;
    overflow: scroll;
}

th {
    width: auto;
    overflow: auto;
    font-size: 10px
}